.loader {
  border: 6px solid lightgray;
  border-radius: 50%;
  border-top: 6px solid grey;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.interact {
  text-align: center;
}

.interact .ask {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  h4:first-child {
    margin-right: 10px;
  }
  h4 {
    background-color: darkgrey;
    padding: 5px 25px;
    border-radius: 4px;
    cursor: pointer;
  }
  h4:hover {
    background-color: mediumaquamarine;
  }
}

.med {
  background-color: lightgrey;
  width: 50%;
  text-align: center;
  border-radius: 4px;
  margin-left: auto;
}

.name {
  color: white;
  /* background-color: brown; */
  padding: 10px;
  border-radius: 5px;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}
